/*  Abra aqui a Documentação desse CSS
    
    Usei um box-sizing: border-box para que a largura e altura de um elemento inclua o padding e a borda, mas não a margem.

    O body é um container flex que centraliza o conteúdo na tela. Justify-content e align-intens no centro da tela e o posicionamento dos elementos do body em coluna.

    O input é um elemento que não tem borda, cor, tamanho e fonte definidos. Isso é para que o input herde as propriedades do body.

    o teclado é um container grid com 3 colunas e 3 linhas. O gap é de 10px. O border-radius é de 30px e o padding de 10px dentro do box.

    O input[type=button] é um elemento com borda arredondada de 20px, cursor pointer,com altura e largura de 80px.

    O input[type=tel] é um elemento com background-color de #cccccc, borda arredondada de 10px, fonte monospace, tamanho de 22px, altura de 40px, margem inferior de 24px, padding de 10px, texto centralizado e largura de 280px.

    O HOVER é um efeito que muda a cor de fundo e a cor do texto ao passar o mouse sobre o botão. Eu coloquei somente no input[type=button] para que o efeito não se aplique ao input[type=tel].

*/

* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191919;
    min-height: 100vh;
  }
  
  input {
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #fff;
  }
  
  .teclado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    background-color: #cccccc;
    border-radius: 30px;
    padding: 10px;
  }
  
  input[type=button] {
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    height: 80px;
    width: 80px;
  }

  input[type=button]:hover {
    background-color: #555;
    color: #fff;
  }
  
  input[type=tel] {
    background-color: #cccccc;
    border-radius: 10px;
    font-family: monospace;
    font-size: 22px;
    height: 40px;
    margin-bottom: 24px;
    padding: 10px;
    text-align: center;
    width: 280px;
  }

  .ativa {
    background-color: #555; /* Cor de fundo quando ativo */
    color: #fff; /* Cor do texto quando ativo */
}